<!DOCTYPE html>
<!-- 
    !BUG: contents is aligned righ, I only want the container to be next in horizontal order. The text should remain left aligned
-->
<!-- Styling & Functions for independent page building -->
<link rel="stylesheet" href="../../web/bootstrap.min.css">
<link rel="stylesheet" href="../../web/styles.css">
<script src="../../web/wasm_exec.js" defer></script>
<script src="../../web/bootstrap.bundle.min.js" defer></script>
<script src="../../web/scripts.js" defer></script>

<!-- Post specific SEO which will be injected into the index.html's head contents -->
<head>
    <title>Template</title>
    <meta name="description" content="">
    <meta name="author" content="Jonathan Vojtush">
    <meta name="keywords" content="">
</head>

<!-- INNER contents of main will be injected into the main element of index.html creating a progressive web app experience -->
<body class="container-fluid vh-100 position-relative" data-bs-theme="dark">
    <main class="text-bg-light float-end">

        Success!

    </main>
</body>